{# file: src/Resources/views/default/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title 'Stone Plattform' %}

{% block body %}

    <h1>Willkommen  {{ exampleParam1 }}! </h1>

{% endblock %}